// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$light-gray: #F4F4F4;

$red: #A53F52;
$lightred: #BF8891;
$grayred: #BF9FA4;

$gray: #7E7F7F;
$lightgray: #9A9B9A;
$lightestgray: #BABABA;

$green: #379B6D;
$lightgreen: #87C1A1;
$graygreen: #9FC1B0;

$black: black;
