.autotheft {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668713253/car-on-solid_qtncp3.svg");
  background-repeat: no-repeat;
}

.burglary {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668713407/person-through-window-solid_ahr5xv.svg");
  background-repeat: no-repeat;
}

.mugging {
  background-image: url("");
  background-repeat: no-repeat;
}

.jaywalking {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668713358/person-walking-solid_iv6rqy.svg");
  background-repeat: no-repeat;
}

.prankcall {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668713495/mobile-screen-button-solid_a5eh5t.svg");
  background-repeat: no-repeat;
}

.littering {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668712973/trash-can-solid_che1jf.svg");
  background-repeat: no-repeat;
}

.espionage {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668710730/user-secret-solid_jizrcx.svg");
  background-repeat: no-repeat;
}

.robbery {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668713165/people-robbery-solid_fn4vim.svg");
  background-repeat: no-repeat;
}

.assault {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668713575/hand-fist-solid_owv5qj.svg");
  background-repeat: no-repeat;
}

.forgery {
  background-image: url("");
  background-repeat: no-repeat;
}

// span {
//   text-decoration: underline;
// }

.center {
  text-align: center;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
