<div class="container my-bookings">

  <div class="d-flex justify-content-center">
   <h1>My Bookings</h1>
  </div>

  <br>

  <div class="d-flex justify-content-center">
    <h3>Crimes you've hired others to commit:</h3>
  </div>
  <br>

  <div class="bookings">
    <%= render partial: "booking" %>
  </div>

  <br>

  <div class="d-flex justify-content-center">
    <h3>Crimes you need to commit:</h3>
  </div>
  <br>
  <div class="bookings">
    <%= render partial: "crimes_to_commit" %>
  </div>

  <br>

</div>
