<div class="container">
  <h1>Bookings</h1>





  <div class="mb-5">
    <h3>Crimes you've hired others to commit</h3>
    <div class="d-flex flex-wrap">
      <%= render partial: "booking" %>
    </div>
  </div>

  <br>

  <div class="mb-5">
    <h3>Crimes you need to commit</h3>
    <div class="d-flex flex-wrap">
      <%= render partial: "crimes_to_commit" %>
    </div>
  </div>
</div>
