<div class="container">
  <h1>My Bookings</h1>





  <div class="mb-5">
    <h3>Crimes you've hired others to commit:</h3>
    <div class="d-flex flex-wrap">
      <%= render partial: "booking" %>
    </div>
  </div>

  <br>

  <div class="mb-5">
<<<<<<< HEAD
    <h3>Crimes you need to commit:</h3>
=======
    <h3>Crimes you need to commit</h3>
>>>>>>> 4a8a396a41dd4df351d6326a6e67db1721ea753b
    <div class="d-flex flex-wrap">
      <%= render partial: "crimes_to_commit" %>
    </div>
  </div>
</div>
