<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('bne_banner.jpg') %>');">
  <div class="container">
    <h1>YOU <strong>SUBMIT,</strong></h1>
    <br>
    <h1>WE <strong>COMMIT</strong>!</h1>
    <p></p>
    <a class="btn btn-flat" href="#">Book your crime</a>
  </div>
</div>
