<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('bne_banner.jpg') %>');">
  <div class="container">
    <h2 class="slogan">YOU <strong>SUBMIT,</strong></h2>
    <br>
    <br>
    <h2 class="slogan">WE <strong>COMMIT</strong>!</h2>
    <br>
    <p></p>
    <a class="banner-button btn-flat" href="#">Book your crime now</a>
  </div>
</div>
