<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('bne_banner.jpg') %>');">
  <div class="container">
    <h1>You submit,</strong></h1>
    <h1>We commit</strong>!</h1>
    <p></p>
    <a class="btn btn-flat" href="#">Book your crime</a>
  </div>
</div>
