<div class="container2">
  <h1 class="mb-4 text-primary">My Services</h1>
    <h3>Services you're offering:</h3>
  <div class="d-flex flex-wrap">
    <% @my_crimes.each do |crime|%>
      <div class="p-2 col-6 col-md-4 col-lg-3 d-grid text-center">
        <%= link_to crime_path(crime), class: "text-decoration-none d-grid" do %>
          <div class="card card-secondary p-2 border-info d-flex justify-content-between text-secondary">
            <h3 class="mb-3">
              <%= "#{crime.crime_type} in #{crime.area}" %>
            </h3>
            <div class="d-flex justify-content-between p-2 text-info">
              <div class="d-flex flex-column align-items-start">
                <p class="m-0">Price</p>
                <p class="m-0"><strong>$<%= crime.price %></strong></p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <p class="m-0">Experience</p>
                <p class="m-0"><strong><%= crime.years_experience %> years</strong></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
