<div class="container">
  <h1 class="mb-4 text-primary">My Services</h1>

  <div class="d-flex flex-wrap">
    <% @my_crimes.each do |crime|%>
      <%= render "my_crime", crime: crime %>
    <% end %>
  </div>
</div>
