.crime-card {
  width: 300px;
  border: 2px solid $gray;
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
  padding: 15px;
}

.crime-card h3 {
  color: $red;
  text-transform: capitalize;
  text-align: center;
}

.text-secondary {
  color: $gray;
}
.text-secondary h4 {
  word-break: break-all;
  color: $grayred;
}

// .text-info {
//   color: $green;
// }
