// .crime-card {
//   width: 300px;
//   border: 2px solid $gray;
//   border-radius: 5px;
//   margin: 10px;
//   text-decoration: none;
//   padding: 15px;
// }

.crime-card h3 {
  color: $red;
  text-transform: capitalize;
  text-align: center;
}

.text-secondary {
  color: $gray;
}
.text-secondary h4 {
  word-break: break-all;
  color: $grayred;
}

.card-rounded {
  border-radius: 6px;
}

.card-rounded:hover {
  box-shadow: 0 0 3px 3px $grayred;
}


.card-smaller-text {
  font-size: 14px;
}

// .text-info {
//   color: $green;
// }
