// Import your components CSS files here.
@import "alert";
@import "area_autocomplete";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "crime-card";
@import "filter-button";
@import "my_crimes";
@import "map";
<<<<<<< HEAD
@import "show_booking"
=======

.sticky-icons {
  position: sticky;
  top: 76px;
  z-index: 12;
  background-color: var(--bs-body-bg);
}
>>>>>>> a5a12437aa5dd1df198c0043be6ecc1eccbf535d
