.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  border: 1px solid $red;
  border-radius: 6px;
  h3 {
    color: $red;
  }

  p {
    margin: 0px 4px auto !important;
  }
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  color: $gray;
}

.text-lightred {
  color: $lightred;
}
