// .container2 {
//   margin: 0 auto;
//   max-width: 100%;
//   width: calc(100% - 80px);
//   padding-left: 40px;
//   padding-right: 40px;
//   z-index: 0;
// }

.d-flex {
  color: $red;
}

.p-2 {
  border: $red;
}

.d-grid {
  border: $red;
}

.text-center {
  border: $red;
}

.text-decoration-none {
  border: $red;
}

.card-secondary {
  border: $red;
}

.border-info {
  border: $red;
}

.justify-content-between {
  border: $red;
}

.text-secondary {
  border: $red;
}

.mb-3 {
  border: $red;
}
