// .container2 {
//   margin: 0 auto;
//   max-width: 100%;
//   width: calc(100% - 80px);
//   padding-left: 40px;
//   padding-right: 40px;
//   z-index: 0;
// }

.d-flex {
  color: $red;
}

.p-2 {
  border: $red;
}

.text-decoration-none {
  border: 1px solid $red;
}

.icons {
  background-image: url("https://res.cloudinary.com/dsrgk8jfy/image/upload/v1668717580/user-ninja-solid_vbiump.svg");
  background-repeat: no-repeat;
}
