.btn-search {
  background: #dfdddd;
  border: $lightgray;
}

.btn-search:hover {
  background-color: $red;
  color: white;
}

.navbar {
  font-size: 20px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-justify: center;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
