.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: avenir light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-justify: center;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item > .active:after {
  text-decoration: underline;
}
